In [2]:
import pandas as pd

In [6]:
data=data.drop(['Answer'],axis=1)

# counting words

In [3]:
A="Hey How are you doing","I am doing fine thanku"
B=1,2
C=pd.DataFrame(A,B)
C['String']=C[0]

In [3]:
A="Hey How are you doing","I am doing fine thanku"
B=1,2
C=pd.DataFrame(A,B)

In [4]:
C

                        0
1   Hey How are you doing
2  I am doing fine thanku

In [86]:
C=C.drop([0],axis=1)

In [87]:
C['word_count']=C['String'].apply(lambda x: len(str(x).split(" ")))

In [88]:
C

                   String  word_count
1   Hey How are you doing           5
2  I am doing fine thanku           5

In [89]:
C['char_count']=C['String'].apply(lambda x:len(str(x)))
C

                   String  word_count  char_count
1   Hey How are you doing           5          21
2  I am doing fine thanku           5          22

In [90]:
def avg_wrd(string):
    words=string.split(" ")
    return (sum(len(i) for i in words)/len(words))

In [91]:
C['avg_word_len']=C['String'].apply(lambda x: avg_wrd(x))

In [92]:
C

                   String  word_count  char_count  avg_word_len
1   Hey How are you doing           5          21           3.4
2  I am doing fine thanku           5          22           3.6

In [9]:
data['word_count']=data['Question'].apply(lambda x:len(str(x).split(" ")))
data.head()

   ID                                           Question  word_count
0   1  Did you hear about the Native American man tha...          14
1   2       What's the best anti diarrheal prescription?           6
2   3  What do you call a person who is outside a doo...          17
3   4  Which Star Trek character is a member of the m...          11
4   5  What's the difference between a bullet and a h...           9

# character count

In [56]:
data['Char_count']=data['Question'].str.len()

In [57]:
data

,ID,Question,word_count,Char_count
0,1,Did you hear about the Native American man tha...,14,70
1,2,What's the best anti diarrheal prescription?,6,44
2,3,What do you call a person who is outside a doo...,17,73
3,4,Which Star Trek character is a member of the m...,11,58
4,5,What's the difference between a bullet and a h...,9,51
5,6,Why was the Ethiopian baby crying?,6,34
6,7,What's the difference between a corn husker wi...,14,86
7,8,Who is 2016's biggest sellout?,5,30
8,9,Why is little Annie's shoe floating in the sea?,9,47
9,10,What's the difference between a married man an...,10,59
10,11,Why are there so many blood cells in female pr...,10,52
11,12,What do you call a russian tree?,7,32
12,13,How do you call it when an egg is on point?,11,43
13,14,Where'd the dog who lost his tail go to get a ...,13,54
14,15,What's the difference between an epileptic oys...,13,85
15,16,Did you hear about the oyster who went to the ...,11,51
16,17,Why are frogs so happy?,5,23
17,18,How do you turn an Indian woman on?,8,35
18,19,Shall I tell you the joke about the kidnappers?,9,47
19,20,Do you like fish sticks?,5,24
20,21,What did the 2 rednecks say after breaking up?,9,46
21,22,What's the difference between a pizza and a Jew?,9,48
22,23,Why does Santa have three gardens?,6,34
23,24,Why did the hipster burn his tongue?,7,36
24,25,Why did Mozart kill his chickens?,6,33
25,26,What is a pirate's worst nightmare?,6,35
26,27,Why can't you e-mail a photo to a Jedi?,9,39
27,28,What will happen if you went inside a black hole?,10,49
28,29,"Which came first, the Chicken or the Egg?",8,41
29,30,What's common between a good boyfriend and a l...,9,50
...,...,...,...,...
38239,38240,Why does Al Gore hate Oil Spills?,7,33
38240,38241,"If the opposite of pro is con, what's the oppo...",12,63
38241,38242,What did the cheese maker say after his factor...,13,69
38242,38243,How many pregnant women does it take to screw ...,12,61
38243,38244,How Many Hipsters Does it Take to Screw in a L...,11,55
38244,38245,Who is the biggest prostitute alive?,6,36
38245,38246,Why do lesbians shop at the Sports Authority?,8,45
38246,38247,Q: How many surrealists does it take to change...,11,59
38247,38248,you hear they're making a movie about constipa...,8,51
38248,38249,Why did Mary Poppins break both her legs?,8,41
38249,38250,Did you hear they just passed a law making rou...,13,67
38250,38251,What is the difference between love and lust?,8,45
38251,38252,Quand a eu lieu le dernier gagnant d'un jeu d'...,12,63
38252,38253,What do a short-sighted gynaecologist and a pu...,11,65
38253,38254,Here's a joke just for reddit: How many narwha...,18,87
38254,38255,How many musos does it take to screw in a ligh...,11,52
38255,38256,What do you get when you combine a Comedian an...,12,61
38256,38257,What is hard and six inches long?,7,33
38257,38258,How do you get two rednecks to play Banjo in u...,11,52
38258,38259,2 Scottish cows in a field: which one is on ho...,11,52
38259,38260,"What is 4,000 lawyers at the bottom of the ocean?",10,49
38260,38261,New Daily Joke WTF??,4,20
38261,38262,What's Forrest Gump's favorite diner?,5,37
38262,38263,What is the difference between your Mum and a ...,13,67
38263,38264,What do you call a bug on the moon?,9,35
38264,38265,Q: Why did the pacifist /b/tard try to calm ev...,11,58
38265,38266,Q: Why can't Obama poke fun at himself?,8,39
38266,38267,Why is gambling not allowed in Africa?,7,38
38267,38268,What do you call three witches in a hot tub?,10,44
38268,38269,What do scientists use to measure a chicken's ...,10,63

# Avg word length

In [95]:
def avg_word_len(string):
    words=string.split(" ")
    return (sum(len(i) for i in words)/len(words))

In [96]:
data['avg_word_len']=data['Question'].apply(lambda x: avg_word_len(x))

In [97]:
data.head()

,ID,Question,word_count,Char_count,avg_word_len
0,1,Did you hear about the Native American man tha...,14,70,4.071429
1,2,What's the best anti diarrheal prescription?,6,44,6.500000
2,3,What do you call a person who is outside a doo...,17,73,3.352941
3,4,Which Star Trek character is a member of the m...,11,58,4.363636
4,5,What's the difference between a bullet and a h...,9,51,4.777778